html,body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.clearfix:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.top-csdn-details{
    font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
    color: #333;
    line-height: 18px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    padding: 14px 16px;
    height: 52px;
    width: 100%;
}
.top-csdn-details ul li{
    padding-right: 22.3%;
}
.top-user-mod{
    border-bottom: 1px solid #ddd;
    padding: 1.32rem 0;
    margin: 0 1.32rem;
}
.top-user-mod .logo a img{
    width: 3rem;
    height: 3rem;
}
.floatL{
    float: left;
}
.top-user-mod .logo a span{
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    line-height: 3rem;
    margin-left: 0.5rem;
}
.floatR{
    float: right;
}
.top-user-mod .click a{
    display: block;
    background-color: #c92027;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 4px;
    width: 3rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}
.btn{
    display: block;
    width: 5rem;
    height: 5rem;
}
